* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2b705;
  font-family: "Dosis", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 60px;
  background-color: #2703a6;
  font-size: 30px;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 320px;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #f2b705;
    }
  }
  li {
    padding: 0 10px;
    border: 3px solid transparent;
  }
  .active {
    border: 3px solid #f2b705;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 100px;
  background-color: #141259;
  color: floralwhite;
  font-size: 30px;
}
